In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
data = pd.read_csv(
    url, 
    sep='\s+', # 복수의 space로 구분
    header=None
)
data.columns = ['CRIM', 'ZN', 'INDUS', 
'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO',
'B', 'LSTAT', 'MEDV']
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [72]:
data.applymap(lambda x: 'asdf' if x == 0 else x)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,asdf,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,asdf,7.07,asdf,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,asdf,7.07,asdf,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,asdf,2.18,asdf,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,asdf,2.18,asdf,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,asdf,11.93,asdf,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,asdf,11.93,asdf,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,asdf,11.93,asdf,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,asdf,11.93,asdf,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,asdf,11.93,asdf,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [75]:
def softmax(vec):
    denumerator = np.exp(vec - np.max(vec, axis=-1, keepdims=True))
    numerator = np.sum(denumerator, axis=-1, keepdims=True)
    val = denumerator / numerator
    return val

In [74]:
dict(enumerate(range(10)))

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [59]:
srs = pd.Series(np.arange(10, 15))
srs.map({i:j for i, j in zip(range(10, 16), list('abcde'))})

0    a
1    b
2    c
3    d
4    e
dtype: object

In [55]:

temp.map()

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [53]:
df_data['CHAS'].map({0:'changed'})

0    changed
1    changed
2    changed
3    changed
4    changed
Name: CHAS, dtype: object

In [30]:
print(data[data['CHAS']!=0].head())

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD    TAX  \
142  3.32105  0.0  19.58     1  0.871  5.403  100.0  1.3216    5  403.0
152  1.12658  0.0  19.58     1  0.871  5.012   88.0  1.6102    5  403.0
154  1.41385  0.0  19.58     1  0.871  6.129   96.0  1.7494    5  403.0
155  3.53501  0.0  19.58     1  0.871  6.152   82.6  1.7455    5  403.0
160  1.27346  0.0  19.58     1  0.605  6.250   92.6  1.7984    5  403.0

     PTRATIO       B  LSTAT  MEDV
142     14.7  396.90  26.82  13.4
152     14.7  343.28  12.12  15.3
154     14.7  321.02  15.12  17.0
155     14.7   88.01  15.02  15.6
160     14.7  338.92   5.50  27.0

In [34]:
data.as_matrix()

AttributeError: 'DataFrame' object has no attribute 'as_matrix'

In [18]:
idx = list('abcdefgh')
data = {i:j for i, j in zip(list('abcde'), [1,2,3,4,5])}
srs = pd.Series(data, dtype=np.int8, index=idx)

In [19]:
srs

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64

In [35]:
s1 = pd.Series(range(5), index=list('abcde'))
s2 = pd.Series(range(6, 11), index=list('fghij'))

In [41]:
df_data = pd.DataFrame(np.arange(16).reshape(4, 4),
                   columns=list('abcd'))
srs_data = pd.Series(np.arange(10, 14))

In [47]:
data

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15